* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  background-color: #455A64;
  color: #DAD3BE;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #051129;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.container {
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  color: #254336;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  font-size: 25px;
  color: #6B8A7A;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: color 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover {
  color: #254336;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('images/new_background.jpeg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
  text-align: center;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  color: #6B8A7A;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  color: #B7B597;
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content p {
  font-size: 20px;
  color: #DAD3BE;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #6B8A7A;
  border-radius: 50%;
  font-size: 20px;
  color: #6B8A7A;
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  margin: 30px 15px 30px 0;
}

.home-sci a:hover {
  background: #6B8A7A;
  color: #ffffff;
  box-shadow: 0 0 20px #1e88e5;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #6B8A7A;
  border-radius: 40px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #6B8A7A, 0 0 25px #6B8A7A;
}

.btn-box:hover {
  box-shadow: 0 0 5px #254336, 0 0 25px #254336, 0 0 50px #254336, 0 0 100px #254336, 0 0 200px #254336;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  padding: 20px 10%;
}

.about-img img {
  max-width: 630px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.about-text h2 {
  font-size: 60px;
}

.about-text h2 span {
  color: #254336;
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #DAD3BE;
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-text p {
  color: #DAD3BE;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

#services {
  color: #DAD3BE;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}

.sub-title span {
  color: #254336;
}

.container {
  padding: 90px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #6B8A7A, 1px 1px 40px #6B8A7A;
}

.services-list i {
  font-size: 50px;
  margin-bottom: 15px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #6B8A7A;
}

.services-list div a {
  text-decoration: none;
  color: #6B8A7A;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.read {
  display: inline-block;
  padding: 12px 28px;
  background: #254336;
  border-radius: 40px;
  font-size: 16px;
  color: #000000 !important;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 1;
  transition: opacity 1s ease, box-shadow 1s ease;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #6B8A7A, 0 0 25px #6B8A7A;
}

.read:hover {
  box-shadow: 0 0 5px #6B8A7A, 0 0 25px #6B8A7A, 0 0 50px #6B8A7A, 0 0 100px #6B8A7A, 0 0 200px #6B8A7A;
}

.services-list div:hover {
  transform: translateY(-10px);
}

section {
  display: flex;
  flex-wrap: wrap;
}

.container1 {
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin-bottom: 120px;
}

.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}

.bar {
  font-size: 23px;
}

.Technical-bars .bars {
  margin-top: 40px;
}

.Technical-bars .bar:first-child {
  margin-top: 40px;
}

.Technical-bars .bar:last-child {
  margin-bottom: 5px;
}

.Technical-bars .bar .info {
  font-family: 'Times New Roman', serif;
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000000;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: #6B8A7A;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.progress-line.html span {
  width: 90%;
}

.progress-line.css span {
  width: 90%;
}

.progress-line.javascript span {
  width: 85%;
}

.progress-line.python span {
  width: 90%;
}

.progress-line.react span {
  width: 75%;
}

.progress-line span::after {
  position: absolute;
  right: 0;
  padding: 1px 8px;
  background-color: #000000;
  color: #051129;
  content: attr(data-percentage);
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -10px;
  animation: showtext 0.5s 1.5s linear forwards;
  opacity: 0 ;
}
.progress-line.html span::after{
  content: '90%';
}
.progress-line.css span::after{
  content: '90%';
}
.progress-line.javascript span::after{
  content: '85%';
}
.progress-line.python span::after{
  content: '90%';
}
.progress-line.react span::after{
  content: '75%';
}
.progress-line span::before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000000;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
@keyframes showText{
  100%{
    opacity: 1;
  }
}
.radial-bars{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.radial-bars .radial-bar{
  width: 50%;
  height: 170%;
  margin-bottom: 10px;
  position: relative;
}
.radial-bars .radial-bar svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}
.radial-bars .radial-bar .progress-bar{
  stroke-width: 10;
  stop-color: #1e88e5;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;

}
@keyframes animate-bar{
  100%{
    stroke-dashoffset: -1;
  }
}
.path{
  stroke-width: 10;
  stroke: #254336;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards}
.path-2{animation: animate-path2 1s 1s linear forwards}
.path-3{animation: animate-path3 1s 1s linear forwards}
.path-4{animation: animate-path4 1s 1s linear forwards}

@keyframes animate-path1{
  100%{
    stroke-dashoffset: 50;
  }
}
@keyframes animate-path2{
  100%{
    stroke-dashoffset: 175;
  }
}@keyframes animate-path3{
  100%{
    stroke-dashoffset: 125;
  }
}@keyframes animate-path4{
  100%{
    stroke-dashoffset: 75;
  }
}
.radial-bar .percentage{
  position: absolute;
  top: 50;
  left: 50;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.radial-bar .text{
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translate(-50px);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
  
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
